__pycache__/
logs/
src/fieldsmith.egg-info/
*.ipynb
!notebooks/*.ipynb
output/
data/*
!data/random_seeds_50.txt
!data/osii_rc2.1/
!data/osii_rc2.1/**
!data/monte_carlo/
!data/imgs/
!data/imgs/fieldsmith_optimization_pipeline.png
data/monte_carlo/results/*
!data/monte_carlo/results/.gitkeep
!data/monte_carlo/validation/
!data/monte_carlo/validation/**
notebooks/
!docs/*.md
scripts/unused/*
.coverage